Repository medvoice-app/MedVoice-Core, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, documentation, tests, docker, configuration, github-actions, dependencies

feat: config mapping
  .env.example
  .gitignore
  Makefile
  app/core/app_config.py
  app/core/config_loader.py
  app/core/minio_config.py
  app/main.py
  config/default.yaml
  config/local.yaml
  config/prod.yaml
  docker-compose.yml
  scripts/generate_env_files.py
Labels: backend, docker, configuration

fix: update endpoints
  app/api/v1/api.py
  app/api/v1/api_v1_router.py
  app/main.py
Labels: backend

fix: endpoints
  CONTRIBUTING.md
  README.md
  tests/integration/test_nurse_api.py
Labels: documentation, tests

Create feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: configuration, github-actions

Update and rename feature_request.yml to feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: documentation, configuration, github-actions

chores: move static/ to app/
  README.md
  app/static/css/custom.css
  app/static/index.html
  app/static/js/api.js
  app/static/js/audio-upload.js
  app/static/js/auth.js
  app/static/js/config.js
  app/static/js/crud.js
  app/static/js/form-utils.js
  app/static/js/get-audios.js
  app/static/js/llm-pipeline.js
  app/static/js/modal.js
  app/static/js/rag-system.js
  app/static/js/table.js
  app/static/js/transcript-viewer.js
  docker/nginx/Dockerfile
  docker/nginx/default.conf
  static/css/custom.css
  static/js/api.js
  static/js/modal.js
Labels: backend, documentation, docker

fix: fix auth endpoints
  app/api/v1/endpoints/nurse.py
  app/main.py
  app/schemas/nurse.py
  docker-compose.yml
  docker/docker-compose.gpu.yml
Labels: backend, docker, configuration

fix: update docker compose for gpu
  docker/docker-compose.gpu.yml
Labels: docker, configuration

.github/labeler.yml:

# Add labels based on which files are modified in a PR
# For more information about the syntax, see:
# https://github.com/actions/labeler

backend:
- app/**/*
- main.py

documentation:
- '**/*.md'
- docs/**/*

tests:
- tests/**/*

docker:
- docker/**/*
- Dockerfile
- docker-compose.yml

configuration:
- '**/*.yml'
- '**/*.yaml'
- '**/*.json'
- .env.example

github-actions:
- .github/**/*

dependencies:
- requirements.txt
- poetry.lock
- pyproject.toml
